body {
  letter-spacing: 0.7px;
  font-size: 14pt;
  font-family: verdana, helvetica, arial, sans-serif;  
  padding: 0;
  margin: 0;
  background-color: #dfdfdf;
  background: #dfdfdf url('../../../img/n06/gradient.png') fixed repeat-x 0 0;
}
h1 {
  margin-bottom: 0;
}
h1 a[href] {
  background: url('../../../img/n06/n0where.png') no-repeat 0 0;
  position: relative;
  z-index: 1;
}
h1 a {
  display: block;
  width: 455px;
  height: 126px;
  margin: auto;
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='../../../img/n06/n0where.png', sizingMethod='scale');
  color: black;
  text-decoration: none;
  cursor: hand;
}
h1 span {
  visibility: hidden;
}
p {
  line-height: 170%;
  margin: 0 0 25px 0;
}
big {
  font-size: larger;
}
small {
  font-size: smaller;
}
a {
  color: blue;
  text-decoration: underline;
}
a:visited {
  color: purple;
}
a:hover {
  color: white;
  background-color: blue;
}
a:active {
  color: red;
}
a img {
  border: 0;
}
textarea,
input,
button {
  font: 14pt verdana, helvetica, arial, sans-serif; 
}

.clear {
  float: none !important;
  clear: both;
}
.float-left {
  float: left;
}
.float-right {
  float: right;
}

#page {
}

.box {
  background: white;
  border: 2px solid black;
  width: 640px;
  margin: auto;
  margin-bottom: 5px;
  padding: 20px;
  position: relative;
  top: -15px;
  z-index: 0;
}

h2, h2 a {
  font-size: x-large;
  font-weight: bold;
  letter-spacing: 2px;
  margin: 0;
  margin-bottom: 10px;
  color: black;
  text-decoration: none;
}

p.datetime {
  font-size: small;
  text-align: left;
  margin: 0;
}

ul.nav {
  list-style-type: none;
  padding: 5px 20px;
  height: 22px;
  overflow: hidden;
}
ul.nav li {
  float: right;
  width: 95px;
  text-align: center;
}
ul.nav li.slogan {
  width: 250px;
  direction: ltr;
  text-transform: lowercase;
}
ul.nav li.clear {
  height: 0;
}
ul.nav li a {
  text-decoration: none;
  color: black;
  padding: 0 10px;
}
ul.nav li a:hover {
  background-color: #eee;
}

.box hr {
  width: 40%;
  margin: 25px auto;
}

#comments .none {
  font-size: small;
}

.comment {
  background-color: #eee;
  margin: 20px;
}
.comment h3 {
  margin: 0;
  padding: 0 15px;
  height: 18px;
  font-size: small;
  background: #cc0000 url('../../../img/n06/comment.corner.png') no-repeat top right;  
  color: white;
}
.comment h3 a {
  color: white !important;
}
.comment h3 a.del {
  text-decoration: none;
}
.comment h3 a.del span {
  visibility: hidden;
}
.comment .text {
  /*font-size: medium;*/
  padding: 0 5px;
  margin-top: 5px;
}
.comment .text small {
  display: block;
}
.comment .reply {
  text-align: left;
  font-size: small;
  padding: 5px;
}

h2.addcomment a {
  letter-spacing: 0;
  text-decoration: underline;
  color: blue;
}
h2.addcomment a:hover { color: white; }

form#postform {
  display: none;
  border: 1px solid #ccc;
  padding: 15px;
}

form#postform div {
  height: 40px;
  clear: right;
}
form#postform div.formend {
  height: auto;
}

form#postform label {
  display: block;
  width: 100px;
  float: right;
}
form#postform label.rm {
  display: inline;
  width: auto;
  float: none;
}

form#postform .formw {
  display: block;
  float: right;
  margin-bottom: 10px;
}
.formw input,
input.formw {
  width: 300px;
  height: 18pt;
}
.formw input,
input.formw,
textarea.formw {
  background-color: #efefef;
  border: 1px solid #b3b3b3;
  padding: 0 5px;
}
form#postform .emoticons .formw {
  width: 450px;
}
.emticn-add {
  cursor: pointer;
}
form#postform .sub {
  width: 170px;
  height: 60px;
  color: black;
  font-size: xx-large;
  text-align: center;
}

#footer {
  text-align: center;
  font-size: small;
}
#footer p {
  line-height: 200%;
  margin: 0;
}
#footer p.copy {
  line-height: 15px;
  vertical-align: middle;
}
#footer ol {
  list-style-type: none;
  margin: 5px 0;
  padding: 0;
}
#footer ol li {
  float: left;
  padding-right: 20px;
  background: transparent no-repeat 100% 50%;
  margin-left: 20px;
}
#footer ol li.valid {
  background-image: url('../../../img/n06/check.png');
}
#footer ol li.rss {
  background-image: url('../../../img/n06/rss.png');
}
#footer ol li a {
  color: black;
}

#explorerdestroyer {
  margin: 0;
  display: block;
  background: lightyellow;
  color: black;
  border-bottom: 1px solid black;
  text-align: right;
  font-size: medium;
  padding: 5px 10px;
}
#explorerdestroyer p {
  margin: 10px 0;
  line-height: 100%;
}
#explorerdestroyer a.close {
  font-weight: bold;
  color: black;
  text-decoration: none;
  float: left;
}

ul#sizer {
  margin: 0;
  list-style-type: none;
  border: 1px solid black;
  background-color: white;
  padding: 5px 10px;
  position: absolute;
  top: 25px;
  left: 40px;
  text-align: center;
}
ul#sizer li {
  display: inline;
}
ul#sizer li a {
  color: black;
  text-decoration: none;
}
#footer ol li a:hover,
ul#sizer li a:hover {
  background-color: black;
  color: white;
}
ul#sizer li.h {
  display: block;
  font-size: 8pt;
}
ul#sizer li.l {
  font-size: 18pt;
}
ul#sizer li.m {
  font-size: 14pt;
}
ul#sizer li.s {
  font-size: 10pt;
}
