table.posts-list {
   background-color: #2cf;
   border: 1px solid #000;
}

table.posts-list th {
   border: 1px solid #000;
   font-weight: bold;
   background-color: #000;
   color: #fff;
}

table.posts-list td {
   vertical-align: top;
   border: 1px solid #000;
   background-color: #fff;
   padding: 2px 3px 2px 3px;
}